/* SOURCE: https://cssanimation.rocks/spheres/ */

/* annotate all this*/

.ball {
  display: block;
  background: black;
  margin: 0;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  background: radial-gradient(circle at 100px 100px, #5cabff, #000);
  animation: orb-colour 5s infinite;
}
@keyframes orb-colour {
  0% {
    transform: rotate(0);
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
  /* Animation cycles colours for the orb */
}
/* ^ THESE ANIMATION KEY FRAMES MAY REQUIRE 'moz' 'ms' etc prefixed and non prefixed versions 
to work across different browsers */

.ball .shadow {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  -webkit-transform: rotateX(90deg) translateZ(-150px);
  -moz-transform: rotateX(90deg) translateZ(-150px);
  -ms-transform: rotateX(90deg) translateZ(-150px);
  -o-transform: rotateX(90deg) translateZ(-150px);
  transform: rotateX(90deg) translateZ(-150px);
  z-index: -1;
}
.stage {
  width: 300px;
  height: 300px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  margin: 5px;
}
/* body {
  width: 300px;
  margin: 20px auto;
  background: linear-gradient(
    to bottom,
    rgba(100, 100, 100, 0.2) 0%,
    rgba(255, 255, 255, 0.5) 40%,
    #ffffff 100%
  );
  background-repeat: no-repeat;
} */
