/* LOOK AT USING REM FOR MEDIA QUERY UNITS FOR SAKE OF ACCESSIBILITY */

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  /* .text-article-arrangment {
    grid-template-columns: 1fr 1fr; */
  /* Arranges elements contained within into two columns */
  /* } */

  .article-arrangment {
    grid-template-columns: 1fr 1fr;
    /* Arranges articles contained within into two columns */
  }

  /* article {
    grid-column: span 2; */
  /* Enables landscape images to horizontally span twice as much space as portraits */
  /* } */

  .vid-container {
    height: 25vh; /* check if necessary long term */
  }

  .full-title {
    display: flex;
  }

  .mobile-title {
    display: none;
  }

  #scrollPoint {
    max-width: 45px;
    left: 74%;
  }
}

/* Desktop */
@media screen and (min-width: 1025px) {
  /* No max so that third media query overwrites */

  /* .text-article-arrangment { */
  /* Arranges elements contained within into two columns */
  /* } */

  .article-arrangment {
    grid-template-columns: 1fr 3fr 1fr;
    /* Arranges articles contained within into two columns */
  }

  .trinket-article-arrangment {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .treasure-display {
    align-items: baseline;
    /* makes the trinket images all appear to be on one level */
  }

  .treasure-display img {
    overflow: scroll;
  }

  .outfit-article {
    max-height: auto;
    left: 65%;
  }

  .outfit-overview {
    grid-template-columns: 1fr 1fr;
    /* displays outfitr image and outfit description side by side */
  }

  #scrollPoint {
    max-width: 65px;
    left: 65%;
  }
  /* .article {
    grid-row: span 2; */
  /* enables portrait images to virtically span twice as much space as landscapes */
  /* } */

  .dropdown {
    display: none;
    /* removes the simplified mobile menu for this larger screen size */
  }

  .large-screen-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
  }

  .full-title {
    display: block;
  }

  .mobile-title {
    display: none;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  li {
    margin: 20px;
  }

  video {
    min-height: 700px;
    height: 100%;
  }

  .vid-container {
    min-height: 700px;
    height: 65vh; /* check if necessary long term */
  }

  #detailViewContent {
    min-height: 300px; /* possibly needed for making sure that the 3D model has room to load BUT causes major issues when resizing the page */
  }
}
