@import url("https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&family=Kumar+One+Outline&family=Nabla&display=swap");

:root {
  scrollbar-color: #808080 #c3c3c3; /* custom scrollbar that works for firefox (which has less custom scrollbar styling options than other browsers) */
}

body {
  background-color: darkslateblue;
  background-image: url("assets/dragon-BG.png");
  image-rendering: pixelated; /* changes the style of image rendering to suit a more retro web aesthetic */
}

.firmament {
  filter: invert(
    100%
  ); /* inverts the colour of all content within the body of 'firmament.html' */
  background-image: url(assets/firmament-Bg.jpg);
  background-position: center center;
  background-repeat: repeat;
  background-size: 32em;
}

.firmament img {
  filter: invert(
    100%
  ); /* reverts images to display as normal while retaining the rest of the body content's inversion */
}

/* Layout */

header {
  width: auto;
  height: auto;
  padding: 5px;
  margin: 0px;
  font-size: 1.25rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
  background-color: #c3c3c3;
  border: outset;
  border-color: #ffffff;
  color: black;
  max-height: auto;
  text-align: center;
  color: #fff;
}

.container {
  max-width: 1280px; /* constrains the width of the container to 1280px */
  margin: 0 auto; /* allows for dynamic centering via the browser */
}

p {
  margin: 20px 5px 20px 15px;
  text-align: center;
  font-size: 1.25rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
}

ul {
  margin: 2px 2px 2px 5px;
  padding: 10px;
}

li {
  justify-content: baseline;
  margin: 5px;
  padding: 4px;
}

main {
  margin: 0 auto; /* potentially unnecessary given I have styled the universal selector with margin 0 */
}

.article-arrangment {
  display: grid;
  grid-template-columns: 1fr; /* Displays all content within in a singular column on default mobile view */
}

article {
  padding: 5px 5px 10px 5px;
  font-size: 1.25rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
  background-color: #c3c3c3;
  border: outset;
  border-color: #ffffff;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

form {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

section {
  width: 100%;
}

img {
  width: 100%; /* allows for responsive scaling */
}

video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 22vh;
  display: block;
  background: black; /* prevents a white blink as videos load in */
}

audio {
  margin: 5px 15px 15px 15px;
  width: 90%; /* for some reason width:100% causes the element to display incorrectly */
}

label {
  font-size: 1.25rem;
  margin-bottom: 5px;
}

#fortuneInput {
  border: 2px, darkgray;
  border-radius: 8px;
  padding: 6px;
  font-size: 1.125rem;
  margin: 0px 20px 0px 20px;
}

.marquee {
  /* animated scrolling text */
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.marquee span {
  /* container styling for animated text */
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
  /* keyframes animating the text scroll */
}

.marquee-text-background {
  background-color: black;
  margin: 15px;
  border: 3px inset black;
  overflow: hidden;
}

footer {
  margin-bottom: 40px;
}

footer .green {
  text-align: center;
}

a {
  color: #e1c165;
  text-decoration: none;
  cursor:
    url(assets/hand-cursor.svg) 16 16,
    pointer; /* custom cursor */
}

.blue-link {
  color: blue;
  text-decoration: underline;
  margin-bottom: 5px;
}

button {
  cursor:
    url(assets/hand-cursor.svg) 16 16,
    pointer; /* custom cursor */
}

/* Navigation */

.large-screen-nav {
  display: none; /* hides menu elements only needed at larger screen sizes */
}

.dropbtn {
  /* dropdown button */
  overflow: hidden;
  background-color: #c3c3c3;
  color: black;
  padding: 10px;
  margin: 0;
  text-align: center;
  font-family: "Monaco", monospace;
  font-size: 1.5rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
}

.dropdown {
  /* the container needed to position the dropdown content */
  position: relative;
  display: inline-block;
}

.dropdown-content {
  /* dropdown content (hidden by default until moused over) */
  display: none;
  position: absolute; /* prevents the dropdown from expanding the header */
  background-color: #ffffff;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; /* allows dropdown content to display in front of the orb on index.html*/
}

.full-title {
  display: none;
  /* hidden by default on mobile view */
}

nav {
  /* nav styling for all views */
  background-color: #808080;
  color: black;
  margin: 0;
  text-align: center;
  font-size: 1.5rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
  font-family: "Monaco", monospace;
}

.navbar {
  /* class for the links in navigation  */
  background-color: #c3c3c3;
  border: 2px outset;
  font-size: 1.5rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
  font-family: "Monaco", monospace;
  color: black;
  margin: 0px;
  padding: 3px;
  height: auto;
  text-align: center;
  border-color: #ffffff;
}

.navbar:hover {
  /* indicates to user where their mouse is and that the navigation links are interactible */
  border: 2px inset;
  background-color: #808080;
}

.navbtndisabled {
  /* communicates to user what page they are on via disabling the nav link to the page they are currently on in desktop view  */
  background-color: #808080;
  border: 2px inset;
  color: black;
  margin: 0px;
  padding: 3px;
  border-color: #c3c3c3;
  opacity: 0.6;
  cursor: not-allowed;
}

.dropdown-content a {
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd; /* changes colour of dropdown links on hover */
}

.dropdown:hover .dropdown-content {
  /* shows the dropdown menu on hover */
  display: block;
}

.dropdown:hover .dropbtn {
  /* changes the background color of the dropdown button when the dropdown content is shown */
  background-color: #808080;
}

/* Headings */

h1 {
  font-family: "Courier New", monospace;
  color: limegreen;
  background-color: black;
  padding: 10px;
  margin: 15px;
  border: 3px inset black;
  max-height: 377px;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  font-family: "Courier New", monospace;
  font-size: 1.35rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
  color: white;
  background-color: #000082;
  padding: 1px;
  padding-left: 10px;
  margin: 1px;
  overflow: auto;
  text-align: left;
}

h4 {
  padding: 2px 0px 2px 15px;
  margin: 0px 0px 10px 0px;
  font-size: 1.25rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
  background-color: orange;
  border: 5px;
  border-color: #808080;
  border-style: groove;
}

/* Text styles */

.green {
  font-family: "Courier New", monospace;
  font-size: 1.2rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
  color: limegreen;
  background-color: black;
  padding: 10px;
  margin: 15px;
  border: 3px inset black;
  max-width: auto;
  max-height: 390px;
  overflow: auto;
  text-align: left;
}

.marquee-green {
  font-family: "Courier New", monospace;
  font-size: 1.2rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
  color: limegreen;
}

/* Look into if there is a more efficient way to style 'red' based off of 'green' */

.eraseBtn {
  background-color: #808080;
  border: 2px outset;
  font-size: 1.2rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
  font-family: "Monaco", monospace;
  color: black;
  margin-top: 10px;
  padding: 8px;
  text-align: center;
  align-self: center;
  max-width: fit-content;
  border-color: #ffffff;
  border-radius: 0px;
}

.eraseBtn:hover {
  border: 2px inset;
  color: red;
  background-color: black;
}

/* Fonts */

/* need to find use case */
/* .astloch-regular {
  font-family: "Astloch", system-ui;
  font-weight: 400;
  font-style: normal;
} */

/* for Magic Words */
.astloch-bold {
  font-family: "Astloch", system-ui;
  font-weight: 700;
  font-size: 1.4rem;
  font-style: normal;
  color: red;
  animation: colour-shift 7s infinite;
  /* cursor: pointer; */
}
@keyframes colour-shift {
  0% {
    transform: rotate(0);
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
  /* Animation keyframes for cycling magic word font colours */
}

/* outline font for special headings */
.kumar-one-outline-regular {
  font-family: "Kumar One Outline", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
}

/* 3D text for special headings */
.nabla {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
  background: black;
  font-size: 50px;
  margin-top: 10px;
}

.icon {
  max-width: 200px;
  align-self: center;
}

.featured-article {
  background-color: orange;
  border: outset;
  border-color: orange;
  color: black;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.centered-article {
  flex-grow: 1; /* Fill up all the space in the box not used by the h3 */
  display: flex; /* Arrange my child(ren) in the centre */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* page specific article classes */

.device-alert {
  color: red;
  border-style: double;
}

#fortuneSubmit {
  margin: 10px 20px 0px 20px;
}

#mainVideoArticle {
  min-width: 30vw;
}

.vid-container {
  position: relative;
  width: 100%;
  height: 22vh;
  overflow: hidden; /* might be unneeded */
  background: black;
  /* aspect-ratio: 4/3; makes the video present itself correctly at SOME different sizes but prevents grid articles from resizing correctly */
}

.outfit-article-container {
  /* allows the h3 header to display above all .article-overview grid elements */
  background-color: orange;
  border: outset;
  border-color: orange;
}

.outfit-article-container h3 {
  margin: 6px 0px 0px 6px;
}

.outfit-overview {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  color: black;
  overflow: auto;
  border-width: 5px;
  border-style: solid;
  border-color: #000082;
  padding: 4px 4px 10px 4px;
}

#outfit-article {
  overflow: scroll;
  max-height: 870px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr;
}

#outfit-article p {
  padding: 10px 25px 10px 25px;
  background-color: #c3c3c3;
  border-style: dotted;
  border-color: #000082;
  border-width: 4px;
}

.outfit-article-container:hover #scrollPoint {
  /* sets scroll image to be visible upon the mouse hovering over the article container */
  opacity: 1;
}

#scrollPoint {
  /* image of a finger pointing downwards to indicate scroll becomes visible upon the user hoverig over the article container */
  max-width: 60px;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  margin-top: 45px;
  left: 65%;
}

#wordBtn {
  color: #000000;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.25rem;
}

#beneath {
  color: red;
  overflow: scroll;
}

.trinket-article-arrangment {
  display: grid;
  grid-template-columns: 1fr;
}

.treasure-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
}

.treasure-display img {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.treasure-img {
  cursor:
    url(assets/hand-cursor.svg) 16 16,
    pointer; /* custom cursor */
}

.treasure-img:hover {
  /* on hovering over an treasure image, makes the image dip */
  top: -10px;
}

#descTextBox {
  max-height: 700px;
}

#detailViewContent {
  display: grid;
  justify-content: center;
  min-height: 26vh; /* ensures that the 3-D model has room to render */
}

#detailViewContent img {
  display: none;
}

#drawForm {
  text-align: left;
  display: none;
  font-size: 1.125rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
}

#drawForm input {
  margin: 6px 0px 6px;
}

#drawForm label {
  padding: 5px;
}

#drawWin {
  min-width: 35vw; /* ensures that the inherently smaller 'draw-win' gif loads in a similar size to the responsivley styled static image counterpart */
}

.hint-button {
  border-style: double;
  color: limegreen;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  /* cursor becomes a pointer to indicate to the user that they can click to reveal detail / hint information */
}

.eraseTickbox {
  vertical-align: middle;
}

label {
  text-align: center;
}

dialog {
  justify-self: center;
  margin-top: 30vh;
  max-width: 80%;
  background-color: #c3c3c3;
}

dialog li {
  margin: 10px 0px 10px 15px;
}

dialog .eraseBtn {
  margin: 0px 0px 15px 15px;
}

.blog-button {
  color: blue;
  text-decoration: underline;
  text-align: left;
  background: none;
  border: none;
  padding: 0;
  font-size: 1.125rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
}

.news-blog {
  display: grid;
  grid-template-columns: 1fr;
}

.icon-mini {
  max-width: 55px;
  align-self: center;
}

/* mini-blog based on W3Schools example (https://www.w3schools.com/howto/howto_css_cards.asp) */

.mini-blog {
  /* adds shadows to create a "card" effect */
  box-shadow: 0 4px 8px 0 rgba(85, 6, 97, 0.4);
  transition: 0.3s;
  margin: 10px 5px 0px 5px;
}

#drawForm h4 {
  width: 90%;
  margin-top: 5px;
}

/* on mouse-over, adds a deeper shadow */
.mini-blog:hover {
  box-shadow: 0 8px 15px 0 rgba(85, 6, 97, 0.4);
}

/* adds some padding inside the mini-blog and for responsive layout via flexbox */
.mini-blog-content {
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
}

#hiddenWord {
  color: #0000;
  text-align: left;
}

#drawForm {
  margin: 5px;
}

#drawBtn {
  justify-self: center;
}

.forest {
  background-image: url(assets/forestBg.jpg);
  background-position: center center;
  background-repeat: repeat;
  background-size: 30em;
}
