@import url("https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&family=Kumar+One+Outline&family=Nabla&display=swap");

/* Class names may need more standardisation e.g. hyphens and abbreviations used inconsitantly */

:root {
  scrollbar-color: #808080 #c3c3c3;
}
/* custom scrollbar for firefox */

* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}
/* ^ Remove this for the sake of optimisation but also check how I can recreate the effect it gives certain elements */

/* Body */
body {
  background-color: darkslateblue;
  background-image: url("assets/dragon-BG.png");
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
  image-rendering: pixelated; /* changes the style of image rendering to suit a more retro web aesthetic */
}

/* .firmament {
  filter: invert(100%);
} */
/* ^ Tried to invert the colour of the background image, can't seem to */

/* Layout */

header {
  width: auto;
  height: auto;
  padding: 5px;
  margin: 0px;
  font-size: 1.25rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
  background-color: #c3c3c3;
  border: outset;
  border-color: #ffffff;
  color: black;
  max-height: auto;
  text-align: center;
  color: #fff;
}

.container {
  max-width: 1280px; /* constrains the width of the container to 1280px */
  margin: 0 auto; /* allows for dynamic centering via the browser */
}

li {
  justify-content: baseline;
  margin: 10px 5px 5px 20px;
}

main {
  margin: 0 auto; /* potentially unnecessary given I have styled the universal selector with margin 0 */
}

.article-arrangment {
  display: grid;
  grid-template-columns: 1fr; /* Displays all content within in a singular column on default mobile view */
}

article {
  padding: 5px 5px 10px 5px;
  font-size: 1.25rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
  background-color: #c3c3c3;
  border: outset;
  border-color: #ffffff;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

form {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

section {
  width: 100%;
}

img {
  width: 100%; /* allows fopr responsive scaling */
}

video {
  position: absolute;
  inset: 0;
  width: 100%;
  display: block;
  object-fit: cover;
  background: black; /* prevents a white blink */
  /* aspect-ratio: 4/3; makes the video present itself correctly at SOME different sizes but prevents grid articles from resizing correctly */
}

audio {
  margin: 15px;
  width: 90%; /* for some reason width:100% causes the element to display incorrectly */
}

p {
  margin: 20px 5px 20px 5px;
  text-align: center;
  font-size: 1.25rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
}

label {
  font-size: 1.25rem;
  margin-bottom: 5px;
}

#fortuneInput {
  border: 2px, darkgray;
  border-radius: 8px;
  padding: 6px;
  font-size: 1.125rem;
  margin: 0px 20px 0px 20px;
}

.marquee {
  /* animated scrolling text */
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.marquee-text-background {
  background-color: black;
  margin: 15px;
  border: 3px inset black;
  overflow: hidden;
}

footer {
  margin-bottom: 40px;
}

footer .green {
  text-align: center;
}

/* Defines the star image display box */
/* .pattern-image {
  background-image: url("assets/starBg.png"); TEMP ASSET 
  padding: 10px;
  margin: 15px;
  border: none;
} */

/* Links */
a {
  color: #e1c165;
  text-decoration: none;
  cursor:
    url(assets/hand-cursor.svg) 16 16,
    pointer; /* custom cursor, figure out why the opacity is low */
}

.blue-link {
  color: blue;
  text-decoration: underline;
}

.large-screen-nav {
  display: none; /* Hides menu elements only needed at larger screen sizes */
}

.dropbtn {
  /* dropdown button */
  overflow: hidden;
  background-color: #c3c3c3;
  color: black;
  padding: 10px;
  margin: 0;
  text-align: center;
  font-family: "Monaco", monospace;
  font-size: 1.5rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
}

.dropdown {
  /* the container needed to position the dropdown content */
  position: relative;
  display: inline-block;
}

.dropdown-content {
  /* dropdown content (hidden by default until moused over) */
  display: none;
  position: absolute; /* prevents the dropdown from expanding the header */
  background-color: #ffffff;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; /* allows dropdown content to display in front of the orb on index.html*/
}

.full-title {
  display: none;
}

nav {
  /* nav styling for all views */
  background-color: #808080;
  color: black;
  margin: 0;
  text-align: center;
  font-size: 1.5rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
  font-family: "Monaco", monospace;
}

.navbar {
  /* class for the links in navigation  */
  background-color: #c3c3c3;
  border: 2px outset;
  font-size: 1.5rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
  font-family: "Monaco", monospace;
  color: black;
  margin: 0px;
  padding: 3px;
  height: auto;
  text-align: center;
  border-color: #ffffff;
}

.navbar:hover {
  /* Indicates to user where their mouse is and that the navigation links are interactible */
  border: 2px inset;
  background-color: #808080;
}

.navbtndisabled {
  /* communicates to user what page they are on via disabling the nav link to the page they are currently on in desktop view  */
  background-color: #808080;
  border: 2px inset;
  color: black;
  margin: 0px;
  padding: 3px;
  border-color: #c3c3c3;
  opacity: 0.6;
  cursor: not-allowed;
}

.dropdown-content a {
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd; /* changes colour of dropdown links on hover */
}

.dropdown:hover .dropdown-content {
  /* shows the dropdown menu on hover */
  display: block;
}

.dropdown:hover .dropbtn {
  /* changes the background color of the dropdown button when the dropdown content is shown */
  background-color: #808080;
}

/* Headings */

h1 {
  font-family: "Courier New", monospace;
  color: limegreen;
  background-color: black;
  padding: 10px;
  margin: 15px;
  border: 3px inset black;
  max-height: 377px;
}

h3 {
  font-family: "Courier New", monospace;
  font-size: 1.35rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
  color: white;
  background-color: #000082;
  padding: 1px;
  padding-left: 10px;
  margin: 1px;
  overflow: auto;
  text-align: left;
}

/* Text styles */

.green {
  font-family: "Courier New", monospace;
  font-size: 1.2rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
  color: limegreen;
  background-color: black;
  padding: 10px;
  margin: 15px;
  border: 3px inset black;
  max-width: auto;
  max-height: 390px;
  overflow: auto;
  text-align: left;
}

.marquee-green {
  font-family: "Courier New", monospace;
  font-size: 1.2rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
  color: limegreen;
}

/* USE THIS OR DELETE */
.red {
  font-family: "Courier New", monospace;
  font-size: 1.2rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
  color: red;
  background-color: black;
  padding: 10px;
  margin: 15px;
  border: 3px inset black;
  max-height: 377px;
  overflow: auto;
}

/* Look into if there is a more efficient way to style 'red' based off of 'green' */

.eraseBtn {
  background-color: #808080;
  border: 2px outset;
  font-size: 1.2rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
  font-family: "Monaco", monospace;
  color: black;
  margin-top: 10px;
  padding: 8px;
  text-align: center;
  align-self: center;
  max-width: fit-content;
  border-color: #ffffff;
  border-radius: 0px;
}

.eraseBtn:hover {
  border: 2px inset;
  color: red;
  background-color: black;
}

/* Fonts */

/* Need to find use case */
.astloch-regular {
  font-family: "Astloch", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* For Magic Words */
.astloch-bold {
  font-family: "Astloch", system-ui;
  font-weight: 700;
  font-style: normal;
  color: red;
  animation: colour-shift 7s infinite;
  /* cursor: pointer; */
}
@keyframes colour-shift {
  0% {
    transform: rotate(0);
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
  /* Animation keyframes for cycling magic word font colours */
}

/* Outline font for special headings */
.kumar-one-outline-regular {
  font-family: "Kumar One Outline", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
}

/* 3D text for special headings */
.nabla {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
  background: black;
  font-size: 50px;
  margin-top: 10px;
}

.icon {
  max-width: 200px;
  align-self: center;
}

.centered-article {
  flex-grow: 1; /* Fill up all the space in the box not used by the h3 */
  display: flex; /* Arrange my child(ren) in the centre */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Page specific article classes */

.featured-article {
  background-color: orange;
  border: outset;
  border-color: orange;
  color: black;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

#fortuneSubmit {
  margin: 10px 20px 0px 20px;
}

.vid-container {
  position: relative;
  width: 100%;
  height: 22vh;
  overflow: hidden; /* might be unneeded */
  background: black;
  /* aspect-ratio: 4/3; makes the video present itself correctly at SOME different sizes but prevents grid articles from resizing correctly */
}

.outfit-article-container {
  /* allows the h3 header to display above all .article-overview grid elements */
  background-color: orange;
  border: outset;
  border-color: orange;
}

.outfit-article-container h3 {
  margin: 6px 0px 0px 6px;
}

#outfit-article {
  overflow: scroll;
  max-height: 870px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr;
}

.outfit-article-container:hover #scrollPoint {
  /* sets scroll image to be visible upon the mouse hovering over the article container */
  opacity: 1;
}

#scrollPoint {
  /* image of a finger pointing downwards to indicate scroll becomes visible upon the user hoverig over the article container */
  max-width: 60px;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  margin-top: 45px;
  left: 65%;
}

.outfit-overview {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  color: black;
  overflow: auto;
  border-width: 4px;
  border-style: solid;
  border-color: #000082;
}

#hiddenWord {
  color: #c3c3c3;
}

/* .robesLowerLayout {
  grid-template-columns: 1fr 4fr;
} */

.trinket-article-arrangment {
  display: grid;
  grid-template-columns: 1fr;
}

.treasure-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
}

/* .treasure-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: baseline;
  width: 100%;
} */
/* 'width: 100%' only usable on bigger displays given that it doesnt scroll on smaller displays, use with 'responsive.css' */

.treasure-display img {
  position: relative;
}

#descTextBox {
  max-height: 700px;
}

#detailViewContent {
  display: grid;
  justify-content: center;
  /* min-height: 300px; possibly needed for making sure that the 3D model has room to load BUT causes major issues when resizing the page */
}

#detailViewContent img {
  display: none;
}

/* #mosaicDetailImg {
  position: absolute;
  max-width: fit-content;
  margin: 15px;
  overflow: auto;
} */
/* https://css-tricks.com/revisiting-image-maps/ */

.hint-button {
  border-style: double;
  color: limegreen;
  padding: 3px;
  margin: 5px;
}

.eraseTickbox {
  vertical-align: middle;
}

label {
  text-align: center;
}

dialog {
  justify-self: center;
  margin-top: 200px;
  max-width: 80%;
  background-color: #c3c3c3;
}

dialog .eraseBtn {
  margin: 0px 0px 15px 15px;
}

.blog-button {
  color: blue;
  text-decoration: underline;
  font-size: 1rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
}

/* @media (max-width: 1000px) {
  #container {
    display: flex;
    flex-direction: column;
  }

  #element2 {
    order: -1;
  }

  section {
    min-width: 100%;
  }
} */
