@import url("https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&family=Kumar+One+Outline&family=Nabla&display=swap");

/* Class names may need more standardisation e.g. hyphens and abbreviations used inconsitantly */

:root {
  scrollbar-color: #808080 #c3c3c3;
}
/* custom scrollbar for firefox */

* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}
/* ^ Remove this for the sake of optimisation but also check how I can recreate the effect it gives the header */

/* Body */
body {
  background-color: darkslateblue;
  background-image: url("assets/Dragon.png");
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
  image-rendering: pixelated;
}

/* .firmament {
  filter: invert(100%);
} */

/* ^ Tried to invert the colour of the background image, can't seem to */

/* Layout */

header {
  width: auto;
  height: auto;
  padding: 5px;
  margin: 0px;
  font-size: 20px;
  background-color: #c3c3c3;
  border: outset;
  border-color: #ffffff;
  color: black;
  max-height: auto;
  text-align: center;
  color: #fff;
}

.container {
  max-width: 1280px;
  /* constrains the width of the container to 1280px */
  margin: 0 auto;
  /* allows for dynamic centering via the browser */
}

/* Navbar */
nav {
  background-color: #808080;
  color: white;
  margin: 0;
  text-align: center;
}

li {
  justify-content: baseline;
  margin: 10px 5px 5px 20px;
}

main {
  margin: 0 auto;
}

.article-arrangment {
  display: grid;
  grid-template-columns: 1fr;
  /* Displays all content within in a singular column on default mobile view */
}

article {
  padding: 5px;
  font-size: 19px;
  background-color: #c3c3c3;
  border: outset;
  border-color: #ffffff;
  color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

form {
  margin: 10px;
}
/* add styling to make the form display to the right side of the orb (either here or in the '.article-arrangement' */

img {
  width: 100%;
}

p {
  margin: 20px;
  text-align: center;
}

.large-screen-nav {
  display: none;
  /* Hides menu elements only needed at larger screen sizes */
}

/* Dropdown Button */
.dropbtn {
  overflow: hidden;
  background-color: #c3c3c3;
  color: black;
  padding: 10px;
  margin: 0;
  text-align: center;
  font-family: "Monaco", monospace;
  font-size: 25px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default until moused over) */
.dropdown-content {
  display: none;
  position: absolute;
  /* Prevents the dropdown from expanding the header */
  background-color: #ffffff;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; /*allows dropdown content to display in front of the orb on index.html*/
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #808080;
}

/* Defines the star image display box */
/* .pattern-image {
  background-image: url("assets/starBg.png"); TEMP ASSET 
  padding: 10px;
  margin: 15px;
  border: none;
} */

/* Links */
a {
  color: #e1c165;
  text-decoration: none;
  cursor:
    url(assets/handcursor.svg) 16 16,
    pointer;
  /* Custom cursor, figure out why the opacity is low */
}

.blue-link {
  color: blue;
  text-decoration: underline;
}

.navbar {
  background-color: #c3c3c3;
  border: 1px outset;
  font-size: 25px;
  font-family: "Monaco", monospace;
  color: black;
  margin: 0px;
  padding: 3px;
  height: auto;
  text-align: left;
  border-color: #ffffff;
  border-radius: 0px;
}

.navbar:hover {
  border: 1px inset;
  background-color: #808080;
}

.navbtndisabled {
  background-color: #808080;
  border: 1px inset;
  font-size: 25px;
  font-family: "Monaco", monospace;
  color: black;
  margin: 0px;
  padding: 3px;
  height: auto;
  text-align: left;
  border-color: #ffffff;
  border-radius: 0px;
  opacity: 0.6;
  cursor: not-allowed;
}

/* Headings */

h1 {
  font-family: "Courier New", monospace;
  font-size: auto;
  color: limegreen;
  background-color: black;
  padding: 10px;
  margin: 15px;
  border: 3px inset black;
  max-width: auto;
  max-height: 377px;
  overflow: auto;
}

h3 {
  font-family: "Courier New", monospace;
  font-size: 20px;
  color: white;
  background-color: #000082;
  padding: 1px;
  padding-left: 10px;
  margin: 1px;
  overflow: auto;
  text-align: left;
}

/* Text styles */

.green {
  font-family: "Courier New", monospace;
  font-size: 20px;
  color: limegreen;
  background-color: black;
  padding: 10px;
  margin: 15px;
  border: 3px inset black;
  max-width: auto;
  max-height: 377px;
  overflow: auto;
  text-align: left;
}

.red {
  font-family: "Courier New", monospace;
  font-size: 20px;
  color: red;
  background-color: black;
  padding: 10px;
  margin: 15px;
  border: 3px inset black;
  max-width: auto;
  max-height: 377px;
  overflow: auto;
}

/* Look into if there is a more efficient way to style 'red' based off of 'green' */

/* Fonts */

/* Need to find use case */
.astloch-regular {
  font-family: "Astloch", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* For Magic Words */
.astloch-bold {
  font-family: "Astloch", system-ui;
  font-weight: 700;
  font-style: normal;
  color: red;
  animation: colour-shift 7s infinite;
  /* cursor: pointer; */
}
@keyframes colour-shift {
  0% {
    transform: rotate(0);
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
  /* Animation keyframes for cycling magic word font colours */
}

/* Outline font for special headings */
.kumar-one-outline-regular {
  font-family: "Kumar One Outline", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

/* 3D text for special headings */
.nabla {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
  background: black;
  font-size: 50px;
  margin-top: 10px;
}

/* Page specific article classes */

.featured-article {
  background-color: orange;
  border: outset;
  border-color: orange;
  color: black;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.outfit-article-container {
  /* Allows the h3 header to display above all .article-overview grid elements */
  background-color: orange;
  border: outset;
  border-color: orange;
  padding: 5px 5px 0px 5px;
}

.outfit-article {
  background-color: orange;
  border: outset;
  border-color: orange;
  color: black;
  overflow: scroll;
  max-height: 700px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr;
}

.outfit-overview {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  color: black;
  overflow: auto;
  border-width: 4px;
  border-style: solid;
  border-color: #000082;
}

.outfitImg {
  max-height: 650px;
}

.trinket-article-arrangment {
  display: grid;
  grid-template-columns: 1fr;
}

.treasure-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
}
/* */

.treasure-display img {
  position: relative;
}

/* .treasure-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: baseline;
} */
/* above code works on Chrome butnot firefox */

/* .treasure-display img {
  height: auto;
} */

/* @media (max-width: 1000px) {
  #container {
    display: flex;
    flex-direction: column;
  }

  #element2 {
    order: -1;
  }

  section {
    min-width: 100%;
  }
} */
